version: "3.9"

services:
  save-file-converter:
    build: .
    expose:
      - "8080"
    restart: always
  nginx:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - save-file-converter